header {
    background: linear-gradient(135deg, #07a7f1, #1689d6);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

nav {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #441dcf;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #76f6ff;
}

  .card-img-top {
    height: 320px;
    object-fit: cover; 
  }

  section {
    background-color: #219ef1;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f8f0f0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9rem;
}